#cross{
	text-align: center;
	width:30px;
	height:30px;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid white;
}
#buttons{
	width:30%;
	float: right;
}
tr{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
td{
	height: 20px;
	width: 20px;
}
#leftBox{
	 
	position: absolute;
    top: 20px;
}
#rightBox{
	float: left;
	clear:left;
}
.butt{
	height:50px;
	width: 107px;
}
#puzzel{
	text-align: center;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid black;
}
.inputBox{
		width: 20px;
		height:20px;
		/* border: 1px solid black; */
		text-align: center;
}
#hintsTable{
	width: 480px;
	float: left;
	clear: left;
}
input[type="text" i] {
    padding: 0;
}
table {
    border-spacing: 0;
}
.mystyle{
	 
	visibility: hidden;
}