#container {
    background: url('images/gameplay_screen/Neon.png');
    width: auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    
}
#homeContainer {
    background: url('images/Splash/Splash\ –\ 6.png');
    width: auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.responsive{
    max-width:100%;
    max-height:100%;
  }
 
 .center{
   position: absolute;
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%);
 }
 
 .parent{
   position: relative;
   background: url('images/Splash/Splash\ –\ 6.png');
   display: flex;
   min-height: 100vh;
   align-items: center;
 }
#leftPanel
{
   position: relative;
   float: left;
}
#leftPanel #gameLevel {
    
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
     
}
#gameLevel h3{
    position: absolute;
    top: 0px;
    text-align: center;
    left: 40px;
    color: #fff;
}
#leftPanel #gameScreen {
    
    position: absolute;
    top: 50px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.clue-text{
    color: #19B4A9;
    position: absolute;
    bottom: 150px;
    left: 40px;
}
 
#actionPanel{
    color: #000000;
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 100%;
}
.actionButton{
    /* width: 35%; */
    width: 45%;
    float: left;
}
.actionButton span{
    font-weight: bold;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.actionGiveup{
    float: left;
    margin: 30px 50px;
}
#rightPanel{
    margin-top: 30px;
    margin-left: 22px;
    visibility: hidden;
}
.heading{
    visibility: visible;
}
.inputForm{
    background-color: #FFFFFF;
    margin-top: 100px;
    padding: 10px 20px;
    width: 300px;
}
.inputForm .formLabel {
    margin-top: -53px;
    margin-left: -28px;
}
.inputForm p {
    position: absolute;
    top: 190px;
    transform: rotate(349deg);
    -webkit-transform: rotate(349deg);
    font-weight: bold;
}
.formInput{
    width: 100%;
    height: 40px;
    text-transform:uppercase
}
.formSubmit{
    text-align: center;
}
#submit{
    padding-top: 82px;
}

#successMsg, #failMsg, #successDesc, #failDesc {
    display: none;
}
#userAnswer:placeholder-shown {
    font-style: italic;
 }
 .success {
    -webkit-box-shadow: 0 0 15px green;
        box-shadow: 0 0 10px green
 }
 .error{
     -webkit-box-shadow: 0 0 15px red;
        box-shadow: 0 0 10px red;
 }

 .info{
    -webkit-box-shadow: 0 0 15px yellow;
    box-shadow: 0 0 10px yellow;
    border-radius: 100px;
 }
 .info-cell{
    -webkit-box-shadow: 0 0 15px yellow;
    box-shadow: 0 0 10px yellow;
 }
 .btn, .btn-text {
     cursor: pointer;
 }

 .success-btn {
    -webkit-box-shadow: 0 0 15px green;
        box-shadow: 0 0 10px green;
        border-radius: 100px;
 }
 .error-btn {
    -webkit-box-shadow: 0 0 15px red;
        box-shadow: 0 0 10px red;
        border-radius: 100px;
 }